# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# VS Code
.vscode/

# Logs
logs/
*.log

# Data
data/raw/
data/temp/

# Models
models/

# Jupyter
.ipynb_checkpoints/

# Environment
.env

# OS
.DS_Store
Thumbs.db